services:
  backend:
    build:
      context: ./Server
      dockerfile: Dockerfile
    container_name: issue-tracker-backend
    ports:
      - "3000:3000"
    env_file:
      - ./Server/.env
    depends_on:
      - postgres
    restart: always

  postgres:
    image: postgres:16
    container_name: issue-tracker-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: issue_tracker
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    restart: always
  frontend:
    build:
      context: ./Client
      dockerfile: Dockerfile
    container_name: issue-tracker-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: always

volumes:
  postgres_data:
